# User-specific files
*.user
.vs/

# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/

# Decryption key parameters
TestFiles/*.json

# Test votes CSV (committed as zip file)
TestFiles/votes.csv

# Generated signed results
TestFiles/*.p7s
